[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[requires]

python_version = "3.5"


[packages]

pytz = "*"
djangorestframework = "*"
mixer = "*"
django-extensions = "*"
ipdb = "*"
ipython = "*"
werkzeug = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
django-cors-headers = "*"
python-language-server = "*"
pytest-pythonpath = "*"
django = "*"


[dev-packages]
