[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

djangorestframework = "*"
django = "*"


[dev-packages]

django-extensions = "*"
ipdb = "*"
ipython = "*"
werkzeug = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
django-cors-headers = "*"
pytest-pythonpath = "*"
factory-boy = "*"
"flake8" = "*"
yapf = "*"
